<!-- wp:paragraph -->
<p><strong><em>Orden de domiciliación de adeudo directo SEPA - CORE</em></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>SEPA Direct Debit Mandate</em></p>
<!-- /wp:paragraph -->

<!-- wp:table {"className":"is-style-stripes"} -->
<figure class="wp-block-table is-style-stripes"><table><tbody><tr><td><strong>Referencia de la orden domiciliación</strong></td><td>{referencia}</td></tr><tr><td>Identificador del acreedor</td><td>Empresa, SL</td></tr><tr><td>Nombre del acreedor</td><td>Empresa</td></tr><tr><td><strong>Dirección</strong></td><td>Dirección 1<br>Dirección 2<br>XXXXX Población - Ciudad<br>España</td></tr></tbody></table></figure>
<!-- /wp:table -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><em>Mediante la firma de esta orden de domiciliación, el deudor autoriza (A) al acreedor a enviar instrucciones a la entidad del deudor para adeudar su cuenta y (B) a la entidad para efectuar los adeudos en su cuenta siguiendo las instrucciones del acreedor. Como parte de sus derechos, el deudor está legitimado al reembolso por su entidad en los términos y condiciones del contrato suscrito con la misma. La solicitud de reembolso deberá efectuarse dentro de las ocho semanas que siguen a la fecha de adeudo en cuenta. Puede obtener información adicional sobre sus derechos en su entidad financiera.</em></p>
<!-- /wp:paragraph -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:table {"className":"is-style-stripes"} -->
<figure class="wp-block-table is-style-stripes"><table><tbody><tr><td>Nombre del deudor<br><em>(titular/es de la cuenta de cargo)</em></td><td>{nombre}<br>{nif}<br>{cargo}<br>{email}<br>{telefono}</td></tr><tr><td>Dirección del deudor</td><td>{deudor_direccion}<br>{deudor_codigo_postal} {deudor_poblacion}<br>{deudor_provincia}</td></tr><tr><td>Swift BIC</td><td>{deudor_swift}</td></tr><tr><td>Número de cuenta – IBAN</td><td>{deudor_iban}</td></tr><tr><td>Tipo de pago</td><td>{deudor_tipo_pago}</td></tr></tbody></table></figure>
<!-- /wp:table -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p>Fecha – Localidad:<br>Date - {fecha}</p>
<!-- /wp:paragraph -->